.root {
  display: block;
}

.content {
  margin-top: 15px;
}

.control::before,
.control::after {
  content: " ";
  display: table;
}

.control::after {
  clear: both;
}

.control {
  overflow: hidden;
}

.state {
  float: right;
}
