@import "nebenan-ui-kit";

.root {
  position: relative;
}

.input {
  padding-right: 40px;
}

.icon {
  @include icon-size(20px);
  margin: 0 14px;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  cursor: pointer;
}
