@import "nebenan-ui-kit";

.root {
  display: inline-flex;
  border-radius: 100%;
  background-color: $color-base-04;
}

.isFilled {
  background-color: $color-gray-01;

  .icon > path {
    fill: #fff;
  }

  &.isColorized {
    &.is-thankyou {
      background-color: $reaction-thankyou-color;
    }

    &.is-bravo {
      background-color: $reaction-bravo-color;
    }

    &.is-love {
      background-color: $reaction-love-color;
    }

    &.is-good_idea {
      background-color: $reaction-good_idea-color;
    }
  }
}
