// stylelint-disable-next-line
@keyframes onAutoFillStart {
  from {
    display: block;
  }

  to {
    display: block;
  }
}

// stylelint-disable-next-line
@keyframes onAutoFillCancel {
  from {
    display: block;
  }

  to {
    display: block;
  }
}

.input:-webkit-autofill {
  animation-name: onAutoFillStart;
  animation-duration: 2000s;
}

.input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
  animation-duration: 2000s;
}
