@import "nebenan-ui-kit";

.horizontalLayout {
  display: flex;
  flex-wrap: wrap;

  .item + .item {
    margin-left: 24px;
  }
}

.verticalLayout {
  display: flex;
  flex-direction: column;

  .item + .item {
    margin-top: 12px;
  }
}

