@import "nebenan-ui-kit";

.horizontalLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and ($media-xs) {
    gap: 12px;
  }
}

.verticalLayout {
  display: flex;
  flex-direction: column;
  gap: 12px;

  // .item.item:not(:last-child) {
  //   margin-bottom: 12px;
  // }
}

.meta {
  margin-top: 8px;
  display: block;
}
