@import 'nebenan-ui-kit';
$tooltip-arrow-size: 5px;

$tooltip-arrow-size: 10px;

.tooltip {
  position: relative;
  cursor: default;

  > .text {
    padding: 5px 10px;

    display: none;
    position: absolute;
    z-index: 1;

    background: $color-gray-00;
    border-radius: $border-radius-m;
    box-shadow: $shadow-bottom-default;

    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    color: $color-gray-09;
    word-wrap: break-word;
    white-space: pre;
  }

  &.isActive .text {
    display: block;
  }
}

.arrow,
.arrow::before {
  width: $tooltip-arrow-size;
  height: $tooltip-arrow-size;
  position: absolute;
  z-index: -1;
}

.arrow::before {
  content: '';
  border-radius: $border-radius-s;
  background: $color-gray-00;
  transform: rotate(45deg);
}

// Application of css classes that are not being applied by popper.js
.text[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.text[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.text[data-popper-placement^='left'] > .arrow {
  top: 50%;
  right: -4px;
  transform: translateY(-50%);
}

.text[data-popper-placement^='right'] > .arrow {
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
}

.element {
  width: max-content;
  display: block;
}
