.control {
  cursor: pointer;
}

:global(.icon-arrow_up) {
  display: none;
}

.isActive .control {
  :global {
    .icon-arrow_up {
      display: inline-block;
    }

    .icon-arrow_down {
      display: none;
    }
  }
}
