node_modules
config/local.js
reports

# do not exclude packages/*/preview, otherwise github-pages integration
# stops working

# Logs
logs
*.log

# MacOS
.DS_Store

# Code editors
.vscode
.idea

# Yalc
.yalc
yalc.lock

# Yarn
yarn-error.log
