.DS_Store
node_modules
.idea
lerna-debug.log
config/local.js
reports

# do not exclude packages/*/preview, otherwise github-pages integration
# stops working

# Yalc
.yalc
yalc.lock

# Yarn
yarn-error.log
