@import "nebenan-ui-kit";
@import "@goodhood/style-dictionary/build/scss/tokens";

.root {
  display: block;
  text-align: center;
}

.item {
  @include block-round(15px);

  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: $color-base-grau-60;
  border: 2px solid $color-base-grau-10;

  &.isActive {
    background: $color-base-knallgreen-100;
  }

  &:first-child {
    margin-left: 0;
  }
}
