@import "nebenan-ui-kit";

.root {
  display: block;
  text-align: center;
}

.item {
  @include block-round(15px);

  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: $color-gray-05;
  border: 2px solid $color-gray-09;

  &.isActive {
    background: $color-green-02;
  }

  &:first-child {
    margin-left: 0;
  }
}
