@import "~nebenan-ui-kit";

:global(.mapboxgl-ctrl-attrib.mapboxgl-compact) {
  // Fix mapbox style
  min-height: 24px;
}

.root {
  @include block-responsive(75%);

  // overrides default mapbox font
  font-family: $font-family;

  :global(.mapboxgl-ctrl-top-right),
  :global(.mapboxgl-ctrl-bottom-right) {
    // overrides mapbox z-index
    z-index: 1;
  }

  :global(.mapboxgl-canvas-container) {
    // Click handlers won't work in layers without stretching this element
    @include block-fill;
  }

  :global(.mapboxgl-canvas):focus {
    outline: none;
  }

  &.isDisabled {
    position: relative;
    background-color: $color-gray-05;

    .disabledMessage {
      @include block-center;
    }
  }
}

.disabledMessage {
  width: 100%;
  padding: 0 15px;
  text-align: center;
}
