@import "nebenan-ui-kit";

// IMPORTANT: global class names dependency
// 'client/components/layout_header/index.jsx'
$external-header-wrapper: ".c-layout_header";
$external-header-panel: ".c-layout_header_panel";
$external-header-menu: ".c-layout_header-menu-body";

.root {
  padding: 12px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  overflow: scroll;

  @media ($media-m) {
    justify-content: center;
    overflow: auto;
  }

  & + :global(#{$external-header-wrapper}) {
    :global {
      #{$external-header-panel} {
        position: static;
      }

      #{$external-header-menu} {
        margin-top: 0;
      }
    }
  }

  &.scrolled {
    & + :global(#{$external-header-wrapper}) {
      :global {
        #{$external-header-panel} {
          position: fixed;
        }
      }
    }
  }
}

.item {
  font-weight: 700;
  font-size: $font-size-m;
  letter-spacing: .5px;
  line-height: 145%;

  .link {
    color: #afa8a4;
    transition: color $transition;
    padding: 8px 16px;

    &.isActive {
      color: #201649;
    }

    @media (pointer: fine) {
      &:hover {
        color: #ec7bcb;
      }
    }
  }
}

.notMobile {
  display: none;
}

@media ($media-m) {
  .onlyMobile {
    display: none;
  }

  .notMobile {
    display: inline-block;
  }
}
