@import '~nebenan-ui-kit';

.root {
  max-height: 100%;
  overflow-y: auto;

  > header {
    border-bottom: $border-dark;
  }

  img {
    display: block;

    + .ui-card-section {
      border-top: none;
    }
  }
}
