@import "nebenan-ui-kit";

.tooltip {
  // Fix to avoid jumping during tooltip recalculation
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  visibility: hidden;

  &.isActive {
    z-index: $z-tooltip;
    visibility: visible;
  }
}
