@import "nebenan-ui-kit";

.root {
  fill: currentColor;
}

.isColored {
  &.type-thankyou {
    fill: $reaction-thankyou-color;
  }

  &.type-bravo {
    fill: $reaction-bravo-color;
  }

  &.type-love {
    fill: $reaction-love-color;
  }

  &.type-good_idea {
    fill: $reaction-good_idea-color;
  }
}
