@import "nebenan-ui-kit";

.meta {
  display: flex;
  font-weight: $font-weight-l;
  font-size: $text-detail-1-size;
}

.hint {
  margin-left: auto;
  padding-left: 10px;
  color: $color-gray-02;
  flex-shrink: 0;
}

.error {
  flex: auto;
  color: $color-red-00;
}
