@import "~nebenan-ui-kit";

.arrowDown,
.arrowUp,
.arrowLeft,
.arrowRight {
  padding: $offset-m;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  background-color: $color-white-alpha;

  cursor: pointer;
}

.arrowDown {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.arrowUp {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.arrowLeft {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.arrowRight {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
