@import "nebenan-ui-kit";

.root {
  height: 30px;
  display: inline-flex;

  vertical-align: middle;
  align-items: center;

  text-align: left;
  user-select: none;

  @at-root a#{&} {
    color: inherit;
  }
}

.text {
  width: 80px;
  height: 12px;
}

.wrap {
  margin-left: 7px;
  display: none;

  @media ($media-m) {
    display: block;
  }

  > em {
    display: block;

    font-style: normal;
    font-size: 8px;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
