@import "nebenan-ui-kit";

$logo-size: 30px;

.root {
  height: $logo-size;
  display: inline-flex;

  vertical-align: middle;
  align-items: center;

  text-align: left;
  user-select: none;

  @at-root a#{&} {
    color: inherit;
  }
}

.image {
  width: $logo-size;
  height: $logo-size;
}

.text {
  max-height: 14px;
  width: 74px;
}

.wrap {
  margin-left: 10px;
  display: none;
  line-height: 1;

  @media ($media-m) {
    display: block;
  }

  > em {
    display: block;

    font-style: normal;
    font-size: 8px;

    text-transform: uppercase;
    white-space: nowrap;
  }
}
