@import "nebenan-ui-kit";

.description {
  margin-top: 5px;
  display: block;
}

.controls {
  margin: 10px 0;
  display: flex;
}

.action {
  margin-left: auto;
  order: 1;
}

.root.hasAction .content {
  > a:only-child,
  > :global(.ui-link):only-child {
    margin-top: 5px;
    display: inline-block;
  }
}
