@import "nebenan-ui-kit";

.inputWrapper {
  min-height: 135px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  background: $color-gray-08;
  border: 1px solid $color-gray-06;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover {
    background: $color-base-04;
  }

  &.focus {
    background-color: $color-base-04;
    border-color: $color-balkonmus-80;
  }

  &.disableBorder {
    border-color: $color-gray-08;
  }

  &.withError {
    border-color: $color-red-01;
    background-color: $color-red-03;
  }

  &.disabled {
    border-color: $color-gray-05;

    .input,
    .label,
    .labelText.filled,
    .attachment {
      color: $color-gray-05;
      cursor: default;
    }
  }
}

.label {
  height: 100%;
  padding: 22px 0 10px;
  flex: auto;
  position: relative;
  cursor: text;
}

.labelText {
  position: absolute;
  top: 20px;
  left: 0;
  transform: translateY(0);
  color: $color-gray-03;
  transition: all .2s ease;
  font-size: $heading-size-4;
  font-weight: $font-weight-l;
  cursor: auto;
  user-select: none;

  &.filled {
    &.large {
      color: $color-balkonmus-100;
    }
  }

  &.focus {
    transform: translateY(-12px);
    color: $color-gray-02;
    font-size: $text-detail-1-size;
  }
}

.input {
  width: 100%;
  height: 100%;
  margin-top: 2px;
  box-sizing: border-box;
  color: $color-gray-00;
  font-weight: $font-weight-l;
  font-size: $heading-size-4;
  line-height: 20px;
  background: none;
  resize: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.meta {
  margin-top: 3px;
}
