@import "nebenan-ui-kit";

.root {
  overflow: hidden;
  position: relative;
}

.container {
  box-sizing: content-box;

  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  transform: translate3d(0, 0, 0);
}
