@import "nebenan-ui-kit";

.root {
  display: grid;
  grid-template-rows: 5fr minmax(0, 3fr);
}

.story {
  padding: $offset-m;
  overflow: auto;
  background-color: #fff;
}

.panel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-top: $border-dark;

  > * {
    overflow: auto;
  }
}
