@import "nebenan-ui-kit";

.root {
  display: grid;
  grid-template-rows: 1fr 100px;
}

.story {
  overflow: auto;
  background-color: #fff;
}

.panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: $border-dark;

  > * {
    overflow: auto;
  }
}

.menu {
  ul {
    padding: revert;
  }
}
