@import "nebenan-ui-kit";

.label {
  cursor: pointer;
  display: flex;
  align-items: center;

  &.disabled {
    cursor: default;
    user-select: none;
  }
}

.input {
  width: 1px;
  height: 1px;
  opacity: 0;

  &:checked + .checkbox {
    background: $color-green-02;
    border-color: $color-green-02;

    &.disabled {
      background: $color-knallgreen-40;
      border-color: $color-knallgreen-40;
    }
  }
}

.checkbox {
  width: 24px;
  height: 24px;
  display: block;
  box-sizing: border-box;
  position: relative;
  background: $color-gray-09;
  border: 1px solid $color-gray-03;
  border-radius: 50%;

  &.disabled {
    border-color: $color-gray-05;
  }

  &::after {
    width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    background: $color-gray-09;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.labelText {
  margin-left: 10px;
  display: block;
  font-weight: 600;
  line-height: 22px;
  color: $color-gray-02;
  font-size: $font-size-m;
  user-select: none;

  &.checked {
    color: $color-gray-00;
  }

  &.disabled {
    color: $color-gray-05;

    &.checked {
      color: $color-gray-04;
    }
  }
}
