.c-image_marker-container {
  @include block-round(35px);
  @include block-center;
  @include background-fill;

  z-index: 1;

  border: $border-light;
  border-width: 2px;
  box-shadow: $shadow-bottom-default;
}

.c-image_marker-caption {
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
